/*
===================
Grid CSS Styles
===================
Moddifed by default leggero
-------------------

Name: Grid
Author: eggoez
Version: 1
Module: globals.css
*/



.alignleft { float: left }

.alignright { float: right }

/* ===== NOTIFICATION ===== */
#main ul.msgs, ul.msgs {
	margin: 0;
	padding: 1em 2em
}

.errors {
	color: #ff0000;
    border: 1px solid;
	border-color: #c90303;
	background: #000;
}

.errors a {
	color: #ff0000;
	text-decoration: none;
	font-weight: normal;
}

.notifications,.enabled {
	color : #01ae01;
	border-top: 1px solid;
    border: 1px solid;
	border-color: #01ae01;
	background: #000;
}

.warnings {
	color : #ff7200;
    border: 1px solid;
	border-color: #ff7200;
	background: #000;

}

.field-error {
	border: #ff0000 1px solid;
}
